<script>
    // fetch('/login/employee')
    //   .then(function (response) {
    //       return response.json();
    //   }).then(function (text) {
    //       console.log('GET response:');
    //       console.log(text.greeting); 
    //   });

    //   $.post("/login/employee", {
    //     "employeeUsername": "Employee1",
    //     "employeePassword": "PasswordABC"
    //   });

fetch('/login/employee', {

// Declare what type of data we're sending
headers: {
  'Content-Type': 'application/json'
},

// Specify the method
method: 'POST',

// A JSON payload
body: JSON.stringify({
    "employeeUsername": "Employee1",
    "employeePassword": "PasswordABC"
})
}).then(function (response) { // At this point, Flask has printed our JSON
return response.text();
}).then(function (text) {

console.log('POST response: ');

// Should be 'OK' if everything was successful
console.log(text);
});
</script>